# Entornos virtuales
venv/
env/
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bases de datos locales (¡Muy importante para no saturar el repo!)
*.csv
*.xlsx
*.xls
!default_nse.csv

# Archivos de sistema operativo
.DS_Store
Thumbs.db
